<div class="container">
  <h1>Book My Seat</h1>

  <!-- Number of seats section starts here-->
  <div class="form-group">
    <label>
      How many seats?
      <select [(ngModel)]="seatsToBeBooked" (change)="resetSelectedSeatsAndTotalPrice()">
        <option *ngFor="let num of numberOfSeatOptions" [value]="num">{{num}}</option>
      </select>
    </label>
  </div>
  <!-- Number of seats section ends  here-->

  <!-- Seats Container section starts here -->
  <div class="seats-container">

    <!-- Seats Usage section starts here -->
    <ul class="showcase">
      <li>
        <div class="seat cell">
          <button></button>
        </div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat cell">
          <button class="surgedPrice"></button>
        </div>
        <small>Available (+extraCharges)</small>
      </li>
      <li>
        <div class="seat cell">
          <button class="selected"></button>
        </div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat cell">
          <button class="booked"></button>
        </div>
        <small>Occupied</small>
      </li>
    </ul>
    <!-- Seats Usage section ends  here -->

    <ng-container *ngFor="let category of currentAudiData.categories">
      <div class="separator">{{category.name}} - Rs {{category.price}}</div>
      <ng-container *ngFor="let row of category.rows">
        <div class="row">
          <div class="alphabet cell">{{row.name}}</div>
          <ng-container *ngFor="let seat of row.seats;let i=index">
            <div class="seat cell">
              <button *ngIf="seat.no" [class.booked]="seat.isBooked"
                      [class.selected]="seat.isSelected" [class.surgedPrice]="seat.surgedPrice"
                      (click)="!seat.isBooked && selectSeat(category, row, seat, i)">{{seat.no}}</button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <!-- Pay Button section starts here -->
    <button *ngIf="selectedSeats.length === +seatsToBeBooked" class="button">Pay Rs.{{totalPrice}}</button>
    <!-- Pay Button section ends here -->

  </div>
  <!-- Seats Container section ends here -->

</div>
